* {
    outline: none !important;
}

a, a:hover {
    text-decoration: none !important;
}

@media (max-width : 576px) {
    body {
        margin-top: 56px;
    }
}

body {
    background-color: #eee;
}

.label-custom {
    color: #2c2c31;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.card {
    background-color: rgb(255,255, 255);
    box-shadow: rgba(153, 153, 153, 0.2) 0px 2px 4px 0px;
    border-radius: 3px;
    border: none;
}

.header {
    border-bottom: 2px solid rgb(299,299,299);
}

.header .nav-link {
    font-weight: 600;
    color: #555 !important;
    border: 0;
    padding: 28px 1.5rem !important;
    border-bottom: 2px solid transparent;
}

.header .nav-link:hover {
    border-bottom: 2px solid #197653;
}

.header .nav-link .icon-lg {
    font-size: 22px;
}

.header .dropdown:hover > .dropdown-menu{
    display: block;
}
.header .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px 0p, rgba(0, 0, 0, 0.06) 0px 2px 6px 0px;
    border: 1px solid #eee;
    top: 80%;
}

.header .dropdown-item {
    padding: 10px 15px;
    font-weight: 600;
    color: #444;
}

.logo-mobile {
    max-height: 50px;
}

.menu-mobile .MuiListItemText-primary{
    font-weight: 600;
    color: #444;
}

.menu-mobile svg {
    font-size: 22px;
    color: #444;
}

.MuiDivider-root {
    background-color: rgba(0, 0, 0, 0.5) !important;
}


@media (max-width: 576px) {
    .vehicle-img img {
        max-width: 100px;
    }

    .MuiMenu-paper {
        position: fixed !important;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        max-width: 100% !important;
        border-radius: 0 !important;
    }

    .MuiMenu-paper ~ div::before {
        content: "";
        z-index: -1;
        position: fixed;
        inset: 0px;
        background-color: rgba(0,0,0,0.5);
    }
}

.MuiMenuItem-root {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}